#head{
    border-top: solid;
    border-bottom:solid;
    border-width: 2px;
    padding: 3px;
}
#headlines{
    text-align: center;
    font-size: 110px;
}
.strip{
    background-color:#961414;
    color: white;
    font-style: italic;
    font-size: 30px;
    width: 130px;
    height: 45px;
    transform: skew(10deg);
}
.strip2{
    background-color:#961414;
    color: white;
    font-style: italic;
    font-size: 30px;
    width: 130px;
    height: 45px;
    transform: skew(10deg);
    position: relative;
    top: -325px;
    left: 0px;
}
.strip3{
    background-color:#961414;
    color: white;
    font-style: italic;
    font-size: 30px;
    width: 130px;
    height: 45px;
    transform: skew(10deg);
    position: relative;
    top: -215px;
    left: 0px;
}
.content{
    margin-top: -30px;
    text-align: justify;
}
.line{
    border-bottom: solid black 2px;
    padding-bottom: 40px;
}
footer{
    border-top: solid black 3px;
    padding-top: 20px;
}
#redtext{
    margin-top: -10px;
    color: #961414;
    font-size: 30px;
}